:root {
    --body-color: #ebeef5;
    --aside-color: #f7f6ff;
    --main-blue-color: #02577a;
    --font-color: #c4c4c4;
    
  }
body,
body * {
    margin: 0;
    padding:0;
    }

    aside {
        width: 100px;
        background-color: var(--aside-color);
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        top: 0;
        bottom: 0;
        box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
        transition: all .7s;
        grid-area: aside;
    }
    
    aside .logo {
        align-self: center;
        padding: 5rem 1.8rem 2.6rem;
    }
    
    aside .hr {
        height: 2px;
        background-color: var(--font-color);
        align-self: center;
        width: 62%;
        margin-bottom: 32px;
    }
    
    aside:hover {
        width: 206px;
    }
    
    aside:hover * {
        opacity: 100%;
    }
    
    .container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        background-color: var(--color-purple-light);
        padding: 2rem;
        overflow: hidden;
    }
    
    .active {
        width: calc(100% - 1.3rem);
        background-color: var(--color-white);
        height: 5.8rem;
        border-radius: 2.5rem 0 0 2.5rem;
        margin-bottom: 1.8rem;
        margin-left: 1.3rem;
    }
    
    .row {
        min-width: 5rem;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    
    .btn {
        padding-left: 2rem;
        color: var(--color-grey-dark);
        opacity: 0;
    }
    
    .active .btn {
        color: var(--color-blue-dark);
    }
.bottom {
    text-align: center;
}
.bottom-line { 
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0; 
    right: 0; 
    height: 0px;
    top: 861px;
    width: 346.01px;
    border: 1px solid #02577A;
}
.btm {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0; 
    right: 0; 
    text-align: center;
    height: 0px;
    top: 871px;
    text-decoration: none;
    color: #02577A;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}